Hallo {{ user.username }},
Wir haben eine Anfrage zum Löschen deiens Accounts erhalten.
Wenn du deinen Account wirklich löschen möchtest, klick bitte auf den untenstehenden Link:

http://{{ domain }}/delete-account/{{ uidb64 }}/{{ token }}

Falls du diese Anfrage nicht gesendet hast, ignoriere bitte diese E-Mail.
Bitte beachte, dass dieser Löschvorgang endgültig ist und alle deine Daten dauerhaft entfernt werden. Nach der Löschung kann dein Account nicht wiederhergestellt werden.
Danke, dass Sie Teil unserer Community waren. Sollten Sie Fragen oder Bedenken haben, zögern Sie bitte nicht, uns zu kontaktieren.

Mit freundlichen Grüßen,
Dein ReserveHub Team

