Hallo {{ user.username }},

wir möchten dich informieren, dass das Passwort für Ihr Konto bei ReserveHub erfolgreich geändert wurde.

Wenn du diese Änderung vorgenommen haben, müssen Sie nichts weiter unternehmen.

Wenn du dein Passwort nicht geändert hast oder glaubst, dass jemand ohne deine Erlaubnis auf dein Konto zugegriffen hat, nimm bitte sofort Kontakt mit unserem Support-Team auf oder setz dein Passwort über den folgenden Link zurück: [Link zum Passwort-Zurücksetzen]

Vielen Dank für die Nutzung unserer Website!

Das Team von ReserveHub
